<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Controle du volume audio</title>

</head>
<body>
    <div id="app">
      <Component/>
    </div>
</body>
<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  var volume = {{ volume }}

  const Component = {
    data() {return {vueVolume: volume}},
    template: `<input type="range" id="volume" name="volume" v-model="vueVolume"/>`,
    watch: {
      // whenever question changes, this function will run
      vueVolume(newVueVolume, oldVueVolume) {
        console.log(newVueVolume)
        let formData = new FormData();
        formData.append('volume', newVueVolume);

        fetch("/", {
          method: "POST",
          body: formData
        })
      }
    },
  };

  var app = createApp({
    // for global
    delimiters: ["${", "}$"],
    
  })
  app.component('Component', Component);
  app.mount("#app");
</script>
</html>
